html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

.r3f
{
    touch-action: none;
}

.htmlScreen iframe
{
    width: 1200px;
    height: 680px;
    border: none;
    border-radius: 0px;
    background: #000000;
}

/* Add this CSS to your stylesheet */
.camera-buttons {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.camera-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background color and box-shadow */
}

.camera-buttons button:hover {
    background-color: #000000; /* Darker background color on hover */
    box-shadow: 0 0 0 rgba(200, 200, 200, 0.5), 0 0 0 rgba(255, 255, 255, 0.7), inset 5px 5px 10px rgba(200, 200, 200, 0.5), inset -5px -5px 10px rgba(255, 255, 255, 0.7); /* Inner shadow on hover */
}

.camera-buttons button:active {
    background-color: #929292; /* Even darker background color on click */
}

.camera-buttons .spaced {
    margin: 20px 30px;
}