.matrix-loader {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: #00ff00;
    font-family: 'Oxanium', Courier, monospace;
  }
  
  .matrix-rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    z-index: 1;
  }
  
  .matrix-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: rain 1.5s linear infinite;
    animation-delay: calc(-1s * var(--index));
  }
  
  .matrix-column span {
    opacity: 0.2;
    animation: fade 2s linear infinite;
  }
  
  .matrix-column:nth-child(odd) span {
    opacity: 0.4;
  }
  
  @keyframes rain {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  @keyframes fade {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
  
  .loader-container {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  
  .loader-bar {
    width: 80%;
    height: 10px;
    background: #004d00;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px auto;
  }
  
  .loader-progress {
    height: 100%;
    background: #00ff00;
    animation: glow 1s infinite alternate;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px #00ff00;
    }
    100% {
      box-shadow: 0 0 20px #00ff00;
    }
  }
  
  .loader-text {
    margin-top: 10px;
    color: #00ff00;
    font-size: 1.2rem;
    text-shadow: 0 0 5px #00ff00;
  }
  