html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

.r3f
{
    touch-action: none;
}

.htmlScreen iframe
{
    width: 1200px;
    height: 680px;
    border: none;
    border-radius: 0px;
    background: #000000;
}

/* Add this CSS to your stylesheet */
.camera-buttons {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.camera-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}