html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.r3f
{
    touch-action: none;
}

.htmlScreen iframe
{
    width: 1200px;
    height: 680px;
    border: none;
    border-radius: 0px;
    background: #000000;
}